/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo_icon{
    width: 50px;
    height: 50px;
    font-size: 21px !important;
    color: #fff;
    border: 2px #fff solid;
    padding: 14px;
    border-radius: 50%;
}


p {
  line-height: 2rem;
}

.size-logo{
  width: 106px;
  height: 66px;
}

.button-collapse {
  color: #e6ed2d;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.style-footer{
  background: #000000 !important;
}

.mbr-map{
  height: 25rem;
  position: relative;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    /*position: absolute;*/
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .size-logo{
    width: 100px;
    height: 60px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}